<!DOCTYPE html>
<html>
 <head>
     <title>Users Ujian Praktikum Irvan_1174043</title>
 </head>
 <body>
    <h1>Here are your Users = Irvan_1174043</h1>
    {% if users %}
    <ol>
    {%for user in users %}
        <li>User Info
            <ul style="list-style-type:circle;">
                <li>First Name = {{user.firstname}}</li>
                <li>Last Name = {{user.lastname}}</li>
                <li>Email = {{user.email}}</li>
            </ul>
         </li>
    {% endfor %}
    </ol>
    {% endif %}
 </body>   
</html>