<html>

<head>
    <title>User Ujian Praktikum_Kevin Natanael Nainggolan_1174059</title>
</head>

<body>
    <div class="container">
        <h1>Here are your users_Kevin_1174059</h1>
        <form action="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" class='btn btn-primary' value="Submit" />
        </form>
</body>

</html>