<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<meta charset="utf-8">
<title>Index Ujian Praktikum Felix_1174026</title>
</head>
	<body>
        <h1>Welcome! Felix_1174026</h1>
        <h2>Go to /users to see the list of user information!</h2>
	</body>
</html>