<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Users Ujian Praktikum Fanny_1174069</title>
</head>
    <body>
        <h1>Here are your users: _Fanny_1174069</h1>
		{% if pengguna%}
		<ol>
        {% for pengguna in pengguna %}
        <li>User Info <br>
            <ul>
                <li>First Name : {{ pengguna.first_name }}</li>
                <li>Last Name :{{ pengguna.last_name }}</li>
                <li>Email : {{ pengguna.email }}</li>
            </ul> 
		</li>
        {% endfor %}
		</ol>
		{% endif %}
    </body>
</html>
