<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<title> Pendaftaran CPNS Najib 1174042</title>
</head>



<body>
	<div>
		<h1>Please Sign Up</h1>
		<form method="POST">
			{{ form.as_p }}
			{% csrf_token %}

			<input type="submit"  class='btn btn-primary'  value="Submit"/>
		</form>
	</div>
	
	<script>

		$( function()
		{
		  $( "#id_tanggallahir" ).datepicker();
		  $( "#datepicker" ).datepicker();
		} );
  </script>
</body>
</html>