<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Form CPNS Kevin</title>
</head>

<body>
    <h1>Welcome! this is page CPNS059</h1>
    <form method="POST">
        <table>
            <div class="row">
                <div class="col-lg-6">
                    <tr>
                        <td><label for="{{form.email.id_for_label}}">Email</label></td>
                        <td> : </td>
                        <td>{{form.email}}</td>
                </div>
                <div class="col-lg-6">
                    <td><label for="{{form.confirm_email.id_for_label}}"> Confirm Email</label></td>
                    <td> : </td>
                    <td>{{form.confirm_email}}</td>
                    </tr>
                </div>
            </div>
            <tr>
                <td><label for="{{form.name.id_for_label}}">Name</label></td>
                <td> : </td>
                <td>{{form.name}}</td>
            </tr>
            <tr>
                <td><label for="{{form.assword.id_for_label}}">Password</label></td>
                <td> : </td>
                <td>{{form.password}}</td>
                <td><label for="{{form.confrim_password.id_for_label}}">Confirm Password</label></td>
                <td> : </td>
                <td>{{form.confrim_password}}</td>
            </tr>
            </tr>
            <tr>
                <td><label for="{{form.captcha.id_for_label}}">Captcha</label></td>
                <td> : </td>
                <td>{{form.captcha}}</td>
            </tr>
        </table>
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>
</body>

</html>