<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Users Ujian Praktikum_IRVAN_1174043</title>
    </head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <body>
        <div class="container">
        <h1>Please Sign Up Here !</h1>
        {% load crispy_forms_tags %}
        <form method="POST">
            {{  form|crispy  }}
            {% csrf_token %}
            <input type="submit" class='btn btn-primary' value="Submit" />
        </form>
    </body>
</html>
