<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA_Compatible" content="ie=edge">
    <title>Index Ujian Praktikum OniwaldusBereMali_1174005</title>
</head>
<body>
    <h1> Here are you users:_OniwaldusBereMali_1174005</h1>
    <ol>
        {% for you in users %}
        <li>
            Users Info
            <ul>
                <li>First Name : {{u.first_name}}</li>
                <li>Last name : {{u.last_name}}</li>
            </ul>
        </li>
        {% endfor %}
    </ol>
</body>
</html>