<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<meta charset="utf-8">
	<title>Index Ujian Praktikum ALFADIAN_1174091</title>
	
	<head>
		<body>
		<h1> Welcome!_ALFADIAN_1174091</h1>
		<h2 > Go to /users to see the list of user information </h2>
		</body>
		</head>
	</head>
</html>